@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* untuk semua (smartphone + tablet + laptop) */

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    color: #3f3844;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    position: fixed;
    background-color: #1A535C;
    width: 100%;
    height: 65px;
    z-index: 10;
}

.header-logo {
    float: left;
    padding: 0 25px;
}

.header-menu {
    float: right;
}

.header-menu a {
    line-height: 65px;
    color: white;
    padding: 0 25px;
    display: block;
    float: left;
    transition: all 0.3s;
}

.header-menu a:hover {
    background-color: #0e2d31;
}

.header-logo h1 {
    line-height: 65px;
    color: white;
}

.menu-icon {
    padding: 0 25px;
    color: white;
    float: right;
    line-height: 65px;
    display: none;
    font-size: 25px;
    transition: all 0.3s;
}

.menu-icon:hover {
    background-color: #0e2d31;
}

#mobile-menu {
    background-color: #1A535C;
    position: fixed;
    width: 100%;
    right: 0;
    margin-top: 65px;
    text-align: center;
    display: none;
}

#mobile-menu a {
    display: block;
    padding: 0 25px;
    line-height: 65px;
    color: white;
    transition: all 0.3s;
}

#mobile-menu a:hover {
    background-color: #0e2d31;
}

#top-wrapper {
    padding-top: 65px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s; /* animasi */
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* color-pallete */

.darkblue {
    color: #1A535C;
}

.lightblue {
    color:#4ECDC4;
}

.cream {
    color: #F7FFF7;
}

.red {
    color: #FF6B6B;
}

.yellow {
    color: #FFE66D;
}

.white {
    color: white;
}

.main2 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}.main2 .container {
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}.main2 .container:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.center {
    text-align: center;
}

.ul {
    list-style-type: none;
    padding: 0;
}.ul li {
    font-size: 18px;
    padding: 24px 16px;
    border-bottom: 1px solid #ddd;
}.ul li:last-child {
    border-bottom: none;
}.ul a {
    text-decoration: none;
    color: black
}

.hoverable li:hover {
    background-color: #ccc;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #4ECDC4;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: left;
    /* bug border-bottom */
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    transition: 0.4s;
    color: white;
}
.active, .accordion:hover {
    background-color: #4ECDC4;
}
.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 32px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}
/* value in class panel is hidden by default. see var panel in assets/js/app.js */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.main3{
    margin-top:50px;
    color:#3f3844;
}.main3 .image-color p{
    color:white;
    font-size: 26px;
    text-align: center;
}

.text{
    text-align: center;
} h2{
    margin-bottom: 20px;
    font-size: 35px;
}.text p{
    font-size: 18px;
}

.image-color{
    background: linear-gradient(#4ECDC4, #1A535C);
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
}.image-color img{
    margin-left: 20px;
    position: relative;
}.text-image p{
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div * {
    text-align: justify;
    text-justify: inter-word;
    padding: 8px 16px;
    color: #3f3844;
} .flex-container > div {
    /* 25% of 1170; known bug with width: 25% */
    width: 292px;
    border-bottom: 1px solid #ddd;
    padding: 24px 16px;
} .flex-container > div:last-child {
    border-bottom: none;
}

.description{
    background-color:   #E0FFFF;
    padding: 90px 50px 90px 50px;
    margin-top: 100px;
    text-align: justify;
}

/* untuk smartphone */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* untuk tablet */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* untuk laptop */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    /* for laptop, by default, .accordion{max-height: 100%;} */
    .accordion:hover {
        cursor: default;
    }
    .accordion:after {
        content: '';
    }
    .active:after {
        content: '';
    }
    .panel {
        max-height: 100%;
    }

    .flex-container > div {
        border-bottom: none;
    }
}

/* Responsive */
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-menu {
        display: none;
    }
  
    .menu-icon {
        display: block;
    }
}

@media all and (min-width: 671px) {
    #mobile-menu {
      display: none;
    }
    #mobile-menu a{
        display: none;
    }
}